* {
    padding: 0;
    margin: 0;
    color: #1b1a1a;
    font-weight: 100;
}

body {
    text-align: center;
    padding-top: 50px;
    background-color: #eeb1ca;
}
section {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

h3 {
    font-size: 30px;
}

img {
    width: 50%;
    border-radius: 50px;
}

footer {
    bottom: 0;
}

#produto {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.icon {
    height: 70px;
    width: auto;
}

.nav-box {
    background-color: pink;
}

.svt {
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #ee629d;
    background-color: #fff;
    padding: 3px 20px;
    border-radius: 20px;
}
